In [2]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],

                  index=['cobra', 'viper', 'sidewinder'],

                  columns=['max_speed', 'shield'])

In [3]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [18]:
df.index[df['max_speed'] == 1]

Index(['cobra'], dtype='object')

In [34]:
df.loc['viper', 'max_speed']

4

In [52]:
shorter = pd.read_csv("shorter 한국어 학습용 어휘 목록 - Página1.csv")
shorter

      순위     단어 품사   풀이 등급
0   1195     가게  명  NaN  A
1    898   가격03  명   價格  B
2   2986   가구03  명   家口  C
3   7434   가구04  명   家具  B
4   4964  가까워지다  동  NaN  B
..   ...    ... ..  ... ..
94  3100   간장01  명   -醬  B
95  4756     간접  명   間接  C
96  6735    간접적  명  間接的  C
97  3906   간판02  명   看板  C
98  7160   간편하다  형  簡便-  C

[99 rows x 5 columns]

In [53]:
shorter.loc[1, '순위']

898

In [46]:
shorter.index = [shorter['순위']]
print(shorter)

        순위     단어 품사   풀이 등급
순위
1195  1195     가게  명  NaN  A
898    898   가격03  명   價格  B
2986  2986   가구03  명   家口  C
7434  7434   가구04  명   家具  B
4964  4964  가까워지다  동  NaN  B
...    ...    ... ..  ... ..
3100  3100   간장01  명   -醬  B
4756  4756     간접  명   間接  C
6735  6735    간접적  명  間接的  C
3906  3906   간판02  명   看板  C
7160  7160   간편하다  형  簡便-  C

[99 rows x 5 columns]

In [51]:
shorter.loc[6735, '순위']

순위
6735    6735
Name: 순위, dtype: int64

In [57]:
df = pd.DataFrame({
    'team': ['A', 'A', 'B', 'B'],
    'points': [10, 15, 20, 25],
    'assists': [5, 7, 9, 11]
})
print(df)
column_index = df.columns.get_loc('assists')
print(column_index)

  team  points  assists
0    A      10        5
1    A      15        7
2    B      20        9
3    B      25       11

AttributeError: 'DataFrame' object has no attribute 'rows'

In [58]:
data = {'A': ['aaa', 'bbb', 'xxx', 'ddd', 'eee'],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [61]:
idx = df.index[df['A'] == 'xxx']
print(idx)

Index([2], dtype='int64')

In [62]:
integer_index = idx[0]
print(integer_index)

2

In [3]:
import pandas as pd
topik1 = pd.read_csv("TOPIK I 1847 word.csv", on_bad_lines='warn')
yukcheon = pd.read_csv("한국어 학습용 어휘 목록 unmodified.csv")
shorter = pd.read_csv("shorter 한국어 학습용 어휘 목록 - Página1.csv")

In [70]:
topik1['Frequency']

0       1195.0
1          NaN
2          NaN
3          NaN
4          NaN
         ...
1842       NaN
1843       NaN
1844       NaN
1845       NaN
1846       NaN
Name: Frequency, Length: 1847, dtype: float64

In [77]:
freq = pd.DataFrame(data={'Frequency':[ ], 'Word':[ ]})
freq

Empty DataFrame
Columns: [Frequency, Word]
Index: []

In [ ]:
for x in topik1['한국어']:
        if yukcheon['단어'].str.fullmatch(x).any():
                        location = yukcheon.index[yukcheon['단어'] == x]
                        location_idx = location[0] 
                        print(location_idx)
                        print(f'Word: {x}, Frequency: {yukcheon[location_idx, '순위']}')

In [6]:
for x in topik1['한국어']:
        if shorter['단어'].str.fullmatch(x).any():
                        location = shorter.index[shorter['단어'] == x]
                        location_idx = location[0] 
                        print(location_idx)
                        print(f'Word: {x}, Frequency: {shorter.loc[location_idx, '순위']}')

0
Word: 가게, Frequency: 1195
7
Word: 가깝다, Frequency: 648
9
Word: 가끔, Frequency: 852
12
Word: 가늘다, Frequency: 2757
41
Word: 가볍다, Frequency: 1189
49
Word: 가운데, Frequency: 264
61
Word: 가져가다, Frequency: 3512
63
Word: 가져오다, Frequency: 1060
68
Word: 가지다, Frequency: 94
89
Word: 간단히, Frequency: 2987